{% extends 'base.html' %}
{% block content %}

<br>
<button type="button" class="btn btn-link"><a href="{% url 'home'%}">Back</a> </button><br><br><br>
<div class="card mb-3">
  {% if tag.image %}
     <img src="{{tag.image.url}}" class="card-img-top" alt="Girl in a jacket" wigth="200" height="500">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{tag.title}}</h5>
    <p class="card-text">{{tag.description}}</p>
    <p class="card-text"><small class="text-muted">Created by {{tag.author}} ,on {{tag.date|date:"D, d M, Y"}}</small></p>
  </div>
</div>

{% if request.user == tag.author %}
<button type="button" class="btn btn-info"><a href="{% url 'update' tag.slug tag.pk %}">update Post</a></button>      <button type="button" class="btn btn-danger"><a href="{% url 'delete' tag.slug tag.pk %}">Delete</a> </button><br><br>


{% endif %}
{% endblock %}


