{% extends 'base.html' %}
{% block content %}
    <div class="container">
     {% if request.user.is_staff %}
     <div class="alert alert-info alert-dismissible fade show" role="alert">
      Welcome {{request.user}}!    <a href="{% url 'create' %}" >create your blog post</a>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     {% else %}
     <div class="alert alert-info alert-dismissible fade show" role="alert">
     Welcome {{request.user}}!
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     {% endif %}
     </div>
    </div>


     <hr>
     {% for tag in object_list %}
     <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{tag.title}}</h5>
            <p class="card-text">{{tag.description|truncatechars:100}}</p>
            <p class="card-text"><small class="text-muted">Created by {{tag.author}} ,on {{tag.date|date:"D, d M, Y"}}</small></p>
            <a href="{% url 'detail' tag.slug tag.pk %}" >view post</a>
        </div>
    </div>
     {% endfor %}



{% endif %}
{% endblock %}


