{% extends 'base.html' %}
{% block content %}
    <div class="container">
     {% if request.user.is_authenticated %}
     <div class="alert alert-info alert-dismissible fade show" role="alert">
      Welcome {{request.user}}!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     {% else %}
     <div class="alert alert-info alert-dismissible fade show" role="alert">
     Welcome visitor kindly signin to have more access
     {% endif %}
     </div>
    </div>
{% if request.user.is_authenticated %}
<button type="button" class="btn btn-info"><a href="{% url 'create'%}">Back</a> </button><br>
{% endif %}
     <hr>
     {% for tag in object_list %}
     <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{tag.title}}</h5>
            <p class="card-text">{{tag.description|truncatechars:100}}</p>
            <p class="card-text"><small class="text-muted">Created by {{tag.author}} ,on {{tag.date|date:"D, d M, Y"}}</small></p>
            <a href="{% url 'detail' tag.slug tag.pk %}" >view post</a>
        </div>
    </div>
     {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}


